name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Permit runner to access MongoDB Atlas
      uses: textbook/atlas-ip@v1
      with:
        atlas-private-key: ${{ secrets.ATLAS_PRIVATE_KEY }}
        atlas-public-key: ${{ secrets.ATLAS_PUBLIC_KEY }}
        group-id: ${{ vars.ATLAS_GROUP_ID }}

    - name: Test
      env:
        MONGO_URL_TEST: ${{ secrets.MONGO_URL_TEST }}
      run: go test -v ./... --cover